@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.title = Umbraco.Field("titleSEO");
    ViewBag.description = Umbraco.Field("descriptionSEO");
}

<div class="wrapper">
    @foreach (var item in Model.Content.Children)
    {
        switch (item.DocumentTypeAlias)
        {
            case "bannerTemplate":
                {
                    Html.RenderPartial("bannerTemplate");
                    break;
                }
            case "templateSectionTwo":
                {
                    Html.RenderPartial("templateSectionTwo");
                    break;
                }
            case "templateSectionOne":
                {
                    Html.RenderPartial("templateSectionOne");
                    break;
                }
            case "templateSectionThree":
                {
                    Html.RenderPartial("templateSectionThree");
                    break;
                }
            case "templateSectionFour":
                {
                    Html.RenderPartial("templateSectionFour");
                    break;
                }
            case "templateSectionFive":
                {
                    Html.RenderPartial("templateSectionFive");
                    break;
                }
            case "templateSectionSix":
                {
                    Html.RenderPartial("templateSectionSix");
                    break;
                }
            case "sectionTitleTemplate":
                {
                    Html.RenderPartial("ProductItem");
                    break;
                }
            default: break;
        }
    }

    


</div>


    <div class="row infomation-contact">
        <div class="form-contact m-auto">
            <div class="row">
                <div class="col-md-4 col-sm-12 align-self-end">
                    <h3>GET IN TOUCH</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero temporibus vitae, ad beatae dolores ullam reprehenderit quibusdam sint molestiae, quis, tempora possimus! Temporibus illum velit exercitationem, laudantium dolorum cumque natus?</p>
                    <div class="mt-5"><a href="#" class="btn-ct btn-outline-black">LEARN MORE</a></div>
                </div>
                <div class="col-md-8 col-sm-12">
                    <form>
                        <input class="contact-input" required placeholder="Enter the valid email address" />

                        <input class="contact-input" placeholder="Enter your address" />


                        <textarea class="contact-input" required rows="5" placeholder="Enter your message"></textarea>


                        <input type="submit" class="btn-ct btn-outline-black float-right mt-3" value="Submit" />
                    </form>
                </div>
            </div>
            <div class="textG">
                <b>G</b>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content" id="contentReplace">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Body
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>

</div>

@section script{
    <script>
        const showDetailsTravel = (json) => {

            $('#contentReplace').html('')
            $('#travelDetails').tmpl(json).appendTo('#contentReplace');

            $('#modelId').modal('show');
        }

    </script>

    <script id="travelDetails" type="text/x-jquery-tmpl">
        <div class="modal-header">
            <h5 class="modal-title">About Country</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="d-flex justify-content-center">
                <img style="max-height:200px;max-width:100%" src="${image}" alt="${country}" />

            </div>

            <h1 class="text-center font-weight-bold mt-4 mb-5">${title}</h1>

            <p>${des}</p>
        </div>
    </script>


    <script>

        const loadContentBanner = () => {
            var element = $('.owl-item.active .banner-image img');
            let title = element.attr('data-title');
            let href = element.attr('data-href');
            $('.banner-title p').text(title);
            $('banner-title a').attr('href', href);
        }
        $(function () {
            loadContentBanner();

        })
        $('.banner-carousel').owlCarousel({
            loop: true,
            nav: true,
            autoplay: true,
            items: 1
        })
        $('.banner-carousel').on('changed.owl.carousel', function (event) {
            $(function () {
                loadContentBanner();

            })
        })
    </script>
}