<html>
<head>
<style>
    .text-center{
        text-align:center;
    }
    .text-primary{
        color:blue;
    }
    .mt-3{
        margin-top:10px;
    }
    .btn{
        border-radius:10px;
        padding: 7px 15px;
    }
    .btn-primary{
        background-color:blue;
        color:white !important;
    }
    
    .font-weight-bold{
        font-weight:700;
    }
</style>
</head>
<body>
    <div class="container">
        <h1 class="text-center font-weight-bold text-primary">ĐƠN HÀNG ĐÃ XÁC NHẬN</h1>
        <h3 class="mt-3">Thông tin của khách hàng</h3>
        <p> <b>Họ và tên: <span class="text-primary">{hoTen}</span></b></p>
        <p> <b>Địa chỉ: <span class="text-primary">{diaChi}</span></b></p>
        <p><b>Email: <span class="text-primary">{Email}</span></b></p>


        <a href="#" class="btn btn-primary">Click để xác nhận</a>

        <p><i class="mt-3">Email này được gởi tự động</i></p>
    </div>

</body>
</html>