@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    var listItem = Umbraco.AssignedContentItem.Descendants();
}

<header class="w-100 d-flex bg-white" style="height:100px;box-shadow: 0 0 10px 0 rgba(0,0,0,0.08);">
    
    <div class="left">
        @foreach(var item in listItem)
            {
                @item.Name
            }
    </div>
    <div class="center">

    </div>
    <div class="right">

    </div>
</header>